body{
    text-align:center;
    background-color: rgb(255, 0, 191);
    font-size: 25px;
  }  
  
  #album
  {
    height:450px;
    border-radius:30px;
  }
  button
  {
  background-color:#f197cc;
    border-radius: 50px;
    font-size: 25px;
  }